<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.oncall.mapper.HistoryMainaccountBetlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boyu.oncall.entity.HistoryMainaccountBetlog">
        <id column="TransactionNumber" property="transactionnumber" />
        <result column="CurrencyID" property="currencyid" />
        <result column="BetID" property="betid" />
        <result column="MainAccountSN" property="mainaccountsn" />
        <result column="Status" property="status" />
        <result column="PlatformGroup" property="platformgroup" />
        <result column="MainAccountID" property="mainaccountid" />
        <result column="PlatformCode" property="platformcode" />
        <result column="Amount" property="amount" />
        <result column="CancelBetTime" property="cancelbettime" />
        <result column="BetTime" property="bettime" />
        <result column="CreateTime" property="createtime" />
        <result column="BrandID" property="brandid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CurrencyID, TransactionNumber, BetID, MainAccountSN, Status, PlatformGroup, MainAccountID, PlatformCode, Amount, CancelBetTime, BetTime, CreateTime, BrandID
    </sql>

</mapper>
